USE [CRM_System]
GO

/****** Object:  StoredProcedure [dbo].[sp_Calculate_RFM]    Script Date: 3/11/2026 1:21:59 PM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE
	OR

ALTER PROCEDURE [dbo].[sp_Calculate_RFM]
AS
BEGIN
	SET NOCOUNT ON;
	SET ANSI_WARNINGS OFF;;

	WITH RFM_BASE
	AS (
		SELECT c.customer_id
			,
			-- Recency
			ISNULL(DATEDIFF(DAY, MAX(d.updated_at), GETDATE()), 9999 -- nếu chưa mua bao giờ → rất lâu
			) AS recency_days
			,
			-- Frequency
			COUNT(d.deal_id) AS frequency
			,
			-- Monetary
			ISNULL(SUM(d.actual_value), 0) AS monetary
		FROM Customers c
		LEFT JOIN Deals d ON c.customer_id = d.customer_id
			AND d.stage = 'Closed Won'
		GROUP BY c.customer_id
		)
		,RFM_SCORE
	AS (
		SELECT *
			,
			-- R: mua càng gần đây → điểm càng cao
			NTILE(6) OVER (
				ORDER BY recency_days DESC
				) - 1 AS R_score
			,
			-- F: mua càng nhiều → điểm càng cao
			NTILE(6) OVER (
				ORDER BY frequency ASC
				) - 1 AS F_score
			,
			-- M: chi càng nhiều → điểm càng cao
			NTILE(6) OVER (
				ORDER BY monetary ASC
				) - 1 AS M_score
		FROM RFM_BASE
		)
	UPDATE c
	SET c.rfm_score = (s.R_score * 100 + s.F_score * 10 + s.M_score)
	FROM Customers c
	JOIN RFM_SCORE s ON c.customer_id = s.customer_id;
END;
GO

/****** Object:  StoredProcedure [dbo].[sp_FilterCustomersAdvanced]    Script Date: 3/11/2026 1:21:59 PM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE
	OR

ALTER PROCEDURE [dbo].[sp_FilterCustomersAdvanced] (
	@PageSize INT
	,@PageNumber INT
	,@Keyword NVARCHAR(100) = NULL
	,@LoyaltyTiers dbo.StringList READONLY
	,@BodyShapes dbo.StringList READONLY
	,@Sizes dbo.StringList READONLY
	,@TagIds dbo.IntList READONLY
	,@ReturnRateMode NVARCHAR(10) = NULL
	,@SessionID UNIQUEIDENTIFIER = NULL
	,@FetchTotal BIT = 0
	)
AS
BEGIN
	SET NOCOUNT ON;

	IF @SessionID IS NULL
		SET @SessionID = NEWID();

	-- =====================================================
	-- 1. LỌC CUSTOMER → TEMP TABLE với thứ tự sort
	-- =====================================================
	CREATE TABLE #FilteredCustomers (
		sort_rank INT IDENTITY(1, 1) PRIMARY KEY
		,customer_id INT NOT NULL
		,rfm_score DECIMAL(10, 4)
		);;

	WITH Sorted
	AS (
		SELECT DISTINCT c.customer_id
			,c.rfm_score
		FROM Customers c
		LEFT JOIN (
			SELECT *
				,ROW_NUMBER() OVER (
					PARTITION BY customer_id ORDER BY measured_at DESC
					) AS rn
			FROM Customer_Measurements
			) m ON m.customer_id = c.customer_id
			AND m.rn = 1
		WHERE (
				@Keyword IS NULL
				OR @Keyword = ''
				OR c.name LIKE '%' + @Keyword + '%'
				OR c.phone LIKE '%' + @Keyword + '%'
				)
			AND (
				NOT EXISTS (
					SELECT 1
					FROM @LoyaltyTiers
					)
				OR c.loyalty_tier IN (
					SELECT value
					FROM @LoyaltyTiers
					)
				)
			AND (
				@ReturnRateMode IS NULL
				OR (
					@ReturnRateMode = 'HIGH'
					AND c.return_rate > 40.0
					)
				OR (
					@ReturnRateMode = 'NORMAL'
					AND c.return_rate <= 40.0
					)
				)
			AND (
				NOT EXISTS (
					SELECT 1
					FROM @TagIds
					)
				OR EXISTS (
					SELECT 1
					FROM Customer_Style_Map sm
					WHERE sm.customer_id = c.customer_id
						AND sm.tag_id IN (
							SELECT value
							FROM @TagIds
							)
					)
				)
			AND (
				NOT EXISTS (
					SELECT 1
					FROM @BodyShapes
					)
				OR m.body_shape IN (
					SELECT value
					FROM @BodyShapes
					)
				)
			AND (
				NOT EXISTS (
					SELECT 1
					FROM @Sizes
					)
				OR m.preferred_size IN (
					SELECT value
					FROM @Sizes
					)
				)
		)
	INSERT INTO #FilteredCustomers (
		customer_id
		,rfm_score
		)
	SELECT customer_id
		,rfm_score
	FROM Sorted
	ORDER BY rfm_score DESC
		,customer_id DESC;

	-- =====================================================
	-- 2. COUNT TOTAL (chỉ khi cần)
	-- =====================================================
	IF @FetchTotal = 1
	BEGIN
		SELECT COUNT(*) AS TotalRecords
			,CEILING(COUNT(*) * 1.0 / @PageSize) AS TotalPages
			,@SessionID AS SessionID
		FROM #FilteredCustomers;
	END

	-- =====================================================
	-- 3. QUERY DATA — dùng sort_rank, không dùng keyset
	-- =====================================================
	DECLARE @StartRank INT = (@PageNumber - 1) * @PageSize + 1;
	DECLARE @EndRank INT = @PageNumber * @PageSize;;

	WITH LatestMeasurement
	AS (
		SELECT *
			,ROW_NUMBER() OVER (
				PARTITION BY customer_id ORDER BY measured_at DESC
				) AS rn
		FROM Customer_Measurements
		)
		,TagAgg
	AS (
		SELECT csm.customer_id
			,STRING_AGG(t.tag_name, ', ') AS style_tags
		FROM Customer_Style_Map csm
		JOIN Style_Tags t ON csm.tag_id = t.tag_id
		GROUP BY csm.customer_id
		)
	SELECT c.customer_id
		,c.name
		,c.phone
		,c.email
		,c.gender
		,c.loyalty_tier
		,c.rfm_score
		,CASE 
			WHEN m.preferred_size IS NULL
				THEN NULL
			ELSE CONCAT (
					m.preferred_size
					,' ('
					,CAST(m.height AS INT)
					,'cm - '
					,CAST(m.weight AS INT)
					,'kg)'
					)
			END AS fit_profile
		,m.body_shape
		,m.height
		,m.weight
		,ta.style_tags
		,c.return_rate
		,c.last_purchase AS last_purchase_date
		,c.STATUS
	FROM #FilteredCustomers fc
	JOIN Customers c ON c.customer_id = fc.customer_id
	LEFT JOIN LatestMeasurement m ON m.customer_id = c.customer_id
		AND m.rn = 1
	LEFT JOIN TagAgg ta ON ta.customer_id = c.customer_id
	WHERE fc.sort_rank BETWEEN @StartRank
			AND @EndRank
	ORDER BY fc.sort_rank;

	DROP TABLE #FilteredCustomers;
END;
GO

/****** Object:  StoredProcedure [dbo].[sp_GetCustomersPaged]    Script Date: 3/11/2026 1:21:59 PM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE
	OR

ALTER PROCEDURE [dbo].[sp_GetCustomersPaged] @PageSize INT
	,@PageNumber INT
	,@SessionID UNIQUEIDENTIFIER = NULL
	,-- NULL = session mới
	@FetchTotal BIT = 0
AS
BEGIN
	SET NOCOUNT ON;

	-- ① Tạo session mới nếu chưa có
	IF @SessionID IS NULL
		SET @SessionID = NEWID();

	-- ② Đếm total chỉ khi cần (page 1 hoặc app yêu cầu)
	IF @FetchTotal = 1
	BEGIN
		SELECT COUNT_BIG(*) AS TotalRecords
			,CEILING(COUNT_BIG(*) * 1.0 / @PageSize) AS TotalPages
			,@SessionID AS SessionID
		FROM Customers;
	END

	-- ③ Lấy anchor của page này (nếu đã có từ lần trước)
	DECLARE @AnchorRFM DECIMAL(10, 4) = NULL;
	DECLARE @AnchorID INT = NULL;

	SELECT @AnchorRFM = anchor_rfm
		,@AnchorID = anchor_id
	FROM Pagination_Anchors
	WHERE session_id = @SessionID
		AND page_number = @PageNumber;

	-- ④ Keyset query
	WITH LatestMeasurement
	AS (
		SELECT m.customer_id
			,m.preferred_size
			,m.height
			,m.weight
			,m.body_shape
		FROM (
			SELECT *
				,ROW_NUMBER() OVER (
					PARTITION BY customer_id ORDER BY measured_at DESC
					) AS rn
			FROM Customer_Measurements
			) m
		WHERE m.rn = 1
		)
	SELECT TOP (@PageSize) c.customer_id
		,c.name
		,c.phone
		,c.email
		,c.gender
		,c.loyalty_tier
		,c.rfm_score
		,CASE 
			WHEN m.preferred_size IS NULL
				THEN NULL
			ELSE CONCAT (
					m.preferred_size
					,' ('
					,CAST(m.height AS INT)
					,'cm - '
					,CAST(m.weight AS INT)
					,'kg)'
					)
			END AS fit_profile
		,m.body_shape
		,m.height
		,m.weight
		,(
			SELECT STRING_AGG(t.tag_name, ', ')
			FROM Customer_Style_Map csm
			JOIN Style_Tags t ON csm.tag_id = t.tag_id
			WHERE csm.customer_id = c.customer_id
			) AS style_tags
		,c.return_rate
		,c.last_purchase AS last_purchase_date
		,c.STATUS
		,
		-- Trả về cho app biết để lưu anchor
		c.rfm_score AS next_anchor_rfm
		,c.customer_id AS next_anchor_id
		,@SessionID AS session_id
	INTO #PageResult
	FROM Customers c
	LEFT JOIN LatestMeasurement m ON m.customer_id = c.customer_id
	WHERE @AnchorRFM IS NULL -- Page 1 hoặc anchor chưa có
		OR (c.rfm_score < @AnchorRFM)
		OR (
			c.rfm_score = @AnchorRFM
			AND c.customer_id < @AnchorID
			)
	ORDER BY c.rfm_score DESC
		,c.customer_id DESC;

	-- ⑤ Tự động lưu anchor của page KẾ TIẾP
	-- (để lần sau nhảy vào page+1 không cần scan)
	DECLARE @NextRFM DECIMAL(10, 4);
	DECLARE @NextID INT;

	SELECT TOP 1 @NextRFM = next_anchor_rfm
		,@NextID = next_anchor_id
	FROM #PageResult
	ORDER BY next_anchor_rfm ASC
		,next_anchor_id ASC;

	IF @NextRFM IS NOT NULL
	BEGIN
		MERGE Pagination_Anchors AS target
		USING (
			SELECT @SessionID
				,@PageNumber + 1
				,@NextRFM
				,@NextID
			) AS source(session_id, page_number, anchor_rfm, anchor_id)
			ON (
					target.session_id = source.session_id
					AND target.page_number = source.page_number
					)
		WHEN NOT MATCHED
			THEN
				INSERT (
					session_id
					,page_number
					,anchor_rfm
					,anchor_id
					)
				VALUES (
					source.session_id
					,source.page_number
					,source.anchor_rfm
					,source.anchor_id
					);
	END

	-- ⑥ Trả kết quả
	SELECT *
	FROM #PageResult;

	DROP TABLE #PageResult;
END;
GO



