USE [master]
GO
/****** Object:  Database [CRM_System]    Script Date: 17/03/2026 8:32:13 CH ******/
CREATE DATABASE [CRM_System]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CRM_System', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\CRM_System.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CRM_System_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\CRM_System_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CRM_System].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CRM_System]
GO
/****** Object:  UserDefinedTableType [dbo].[IntList]    Script Date: 17/03/2026 8:32:13 CH ******/
CREATE TYPE [dbo].[IntList] AS TABLE(
	[Value] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[StringList]    Script Date: 17/03/2026 8:32:13 CH ******/
CREATE TYPE [dbo].[StringList] AS TABLE(
	[Value] [nvarchar](255) NULL
)
GO
/****** Object:  Table [dbo].[Activities]    Script Date: 17/03/2026 8:32:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activities](
	[activity_id] [int] IDENTITY(1,1) NOT NULL,
	[related_type] [varchar](50) NULL,
	[related_id] [int] NULL,
	[activity_type] [varchar](50) NULL,
	[subject] [nvarchar](100) NULL,
	[description] [nvarchar](max) NULL,
	[created_by] [int] NULL,
	[activity_date] [datetime] NULL,
	[created_at] [datetime] NULL,
	[source_type] [varchar](50) NULL,
	[source_id] [int] NULL,
	[performed_by] [int] NULL,
	[metadata] [nvarchar](max) NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[activity_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Campaign_Leads]    Script Date: 17/03/2026 8:32:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Campaign_Leads](
	[campaign_id] [int] NOT NULL,
	[lead_id] [int] NOT NULL,
	[lead_status] [varchar](30) NOT NULL,
	[assigned_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [pk_campaign_leads] PRIMARY KEY CLUSTERED 
(
	[campaign_id] ASC,
	[lead_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Campaign_Reports]    Script Date: 17/03/2026 8:32:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Campaign_Reports](
	[report_id] [int] IDENTITY(1,1) NOT NULL,
	[campaign_id] [int] NULL,
	[total_lead] [int] NULL,
	[qualified_lead] [int] NULL,
	[converted_lead] [int] NULL,
	[cost_per_lead] [decimal](10, 2) NULL,
	[roi] [decimal](5, 2) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[report_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Campaigns]    Script Date: 17/03/2026 8:32:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Campaigns](
	[campaign_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[description] [nvarchar](max) NULL,
	[budget] [decimal](15, 2) NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[channel] [varchar](50) NULL,
	[status] [varchar](20) NULL,
	[created_by] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[campaign_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 17/03/2026 8:32:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](100) NULL,
	[description] [nvarchar](max) NULL,
	[status] [varchar](20) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category_Products]    Script Date: 17/03/2026 8:32:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category_Products](
	[category_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
 CONSTRAINT [pk_category_products] PRIMARY KEY CLUSTERED 
(
	[category_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer_Measurements]    Script Date: 17/03/2026 8:32:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer_Measurements](
	[measure_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NOT NULL,
	[height] [decimal](5, 2) NULL,
	[weight] [decimal](5, 2) NULL,
	[bust] [decimal](5, 2) NULL,
	[waist] [decimal](5, 2) NULL,
	[hips] [decimal](5, 2) NULL,
	[shoulder] [decimal](5, 2) NULL,
	[preferred_size] [nvarchar](10) NULL,
	[body_shape] [nvarchar](50) NULL,
	[measured_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[measure_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer_Segment_Map]    Script Date: 17/03/2026 8:32:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer_Segment_Map](
	[customer_id] [int] NOT NULL,
	[segment_id] [int] NOT NULL,
	[assigned_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC,
	[segment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer_Segments]    Script Date: 17/03/2026 8:32:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer_Segments](
	[segment_id] [int] IDENTITY(1,1) NOT NULL,
	[segment_name] [nvarchar](50) NULL,
	[criteria_logic] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[segment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer_Style_Map]    Script Date: 17/03/2026 8:32:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer_Style_Map](
	[customer_id] [int] NOT NULL,
	[tag_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC,
	[tag_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerOTP]    Script Date: 17/03/2026 8:32:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerOTP](
	[customer_id] [int] NOT NULL,
	[otp_hash] [nvarchar](255) NOT NULL,
	[otp_expired_at] [datetime2](7) NOT NULL,
	[failed_attempt] [int] NULL,
	[send_count] [int] NULL,
	[last_send] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 17/03/2026 8:32:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[customer_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[phone] [varchar](20) NULL,
	[email] [varchar](100) NULL,
	[birthday] [date] NULL,
	[gender] [nvarchar](10) NULL,
	[address] [nvarchar](255) NULL,
	[source] [nvarchar](50) NULL,
	[customer_type] [varchar](20) NULL,
	[status] [nvarchar](20) NULL,
	[loyalty_tier] [nvarchar](20) NULL,
	[rfm_score] [int] NULL,
	[return_rate] [decimal](5, 2) NULL,
	[last_purchase] [datetime] NULL,
	[owner_id] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[interest] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_customer_phone] UNIQUE NONCLUSTERED 
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Deal_Products]    Script Date: 17/03/2026 8:32:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deal_Products](
	[deal_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NULL,
	[unit_price] [decimal](15, 2) NULL,
	[discount] [decimal](5, 2) NULL,
	[total_price] [decimal](15, 2) NULL,
 CONSTRAINT [pk_deal_products] PRIMARY KEY CLUSTERED 
(
	[deal_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Deals]    Script Date: 17/03/2026 8:32:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deals](
	[deal_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NULL,
	[lead_id] [int] NULL,
	[deal_name] [nvarchar](100) NULL,
	[expected_value] [decimal](15, 2) NULL,
	[actual_value] [decimal](15, 2) NULL,
	[stage] [varchar](20) NULL,
	[probability] [int] NULL,
	[expected_close_date] [date] NULL,
	[owner_id] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[deal_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedbacks]    Script Date: 17/03/2026 8:32:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedbacks](
	[feedback_id] [int] IDENTITY(1,1) NOT NULL,
	[ticket_id] [int] NULL,
	[rating] [int] NULL,
	[comment] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[feedback_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Leads]    Script Date: 17/03/2026 8:32:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Leads](
	[lead_id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](100) NULL,
	[email] [varchar](100) NULL,
	[phone] [varchar](20) NULL,
	[interest] [nvarchar](255) NULL,
	[source] [varchar](50) NULL,
	[status] [varchar](20) NULL,
	[campaign_id] [int] NULL,
	[assigned_to] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[score] [int] NULL,
	[is_converted] [bit] NOT NULL,
	[converted_customer_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[lead_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification_Queue]    Script Date: 17/03/2026 8:32:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification_Queue](
	[queue_id] [int] IDENTITY(1,1) NOT NULL,
	[notification_id] [int] NULL,
	[title] [nvarchar](200) NOT NULL,
	[content] [nvarchar](max) NULL,
	[type] [varchar](30) NULL,
	[related_type] [varchar](50) NULL,
	[related_id] [int] NULL,
	[recipient_user_id] [int] NOT NULL,
	[status] [varchar](20) NOT NULL,
	[priority] [varchar](20) NOT NULL,
	[scheduled_at] [datetime] NOT NULL,
	[sent_at] [datetime] NULL,
	[failed_at] [datetime] NULL,
	[retry_count] [int] NOT NULL,
	[max_retries] [int] NOT NULL,
	[error_message] [nvarchar](500) NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK_Notification_Queue] PRIMARY KEY CLUSTERED 
(
	[queue_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification_Recipients]    Script Date: 17/03/2026 8:32:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification_Recipients](
	[notification_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[is_read] [bit] NOT NULL,
	[read_at] [datetime] NULL,
 CONSTRAINT [PK_Notification_Recipients] PRIMARY KEY CLUSTERED 
(
	[notification_id] ASC,
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification_Rule_Engine]    Script Date: 17/03/2026 8:32:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification_Rule_Engine](
	[rule_id] [int] IDENTITY(1,1) NOT NULL,
	[rule_name] [nvarchar](100) NOT NULL,
	[rule_type] [varchar](30) NOT NULL,
	[description] [nvarchar](500) NULL,
	[trigger_event] [varchar](50) NULL,
	[entity_type] [varchar](50) NULL,
	[condition_field] [varchar](50) NULL,
	[condition_operator] [varchar](30) NULL,
	[condition_value] [int] NULL,
	[condition_unit] [varchar](20) NULL,
	[cron_expression] [varchar](100) NULL,
	[next_run_at] [datetime] NULL,
	[last_run_at] [datetime] NULL,
	[notification_title_template] [nvarchar](200) NULL,
	[notification_content_template] [nvarchar](max) NULL,
	[notification_type] [varchar](30) NULL,
	[notification_priority] [varchar](20) NOT NULL,
	[recipient_type] [varchar](30) NULL,
	[recipient_user_id] [int] NULL,
	[escalate_after_minutes] [int] NULL,
	[escalate_to_user_id] [int] NULL,
	[is_active] [bit] NOT NULL,
	[created_by] [int] NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK_Notification_Rule_Engine] PRIMARY KEY CLUSTERED 
(
	[rule_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 17/03/2026 8:32:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[notification_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[content] [nvarchar](max) NULL,
	[type] [varchar](30) NULL,
	[related_type] [varchar](50) NULL,
	[related_id] [int] NULL,
	[created_at] [datetime] NOT NULL,
	[priority] [varchar](20) NOT NULL,
	[status] [varchar](20) NOT NULL,
	[scheduled_at] [datetime] NULL,
	[created_by] [int] NULL,
	[expires_at] [datetime] NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[notification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pagination_Anchors]    Script Date: 17/03/2026 8:32:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pagination_Anchors](
	[session_id] [uniqueidentifier] NOT NULL,
	[page_number] [int] NOT NULL,
	[anchor_rfm] [decimal](10, 4) NOT NULL,
	[anchor_id] [int] NOT NULL,
	[created_at] [datetime2](7) NULL,
 CONSTRAINT [PK_PaginationAnchors] PRIMARY KEY CLUSTERED 
(
	[session_id] ASC,
	[page_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 17/03/2026 8:32:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[sku] [varchar](50) NULL,
	[price] [decimal](15, 2) NULL,
	[description] [nvarchar](max) NULL,
	[status] [varchar](20) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 17/03/2026 8:32:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [varchar](50) NOT NULL,
	[description] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service_Reports]    Script Date: 17/03/2026 8:32:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service_Reports](
	[report_id] [int] IDENTITY(1,1) NOT NULL,
	[report_date] [date] NULL,
	[total_ticket] [int] NULL,
	[resolved_ticket] [int] NULL,
	[avg_response_time] [decimal](10, 2) NULL,
	[avg_resolution_time] [decimal](10, 2) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[report_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Style_Tags]    Script Date: 17/03/2026 8:32:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Style_Tags](
	[tag_id] [int] IDENTITY(1,1) NOT NULL,
	[tag_name] [nvarchar](50) NULL,
	[category] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[tag_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Task_Assignees]    Script Date: 17/03/2026 8:32:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task_Assignees](
	[task_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[assigned_at] [datetime] NOT NULL,
	[assigned_by] [int] NULL,
	[is_primary] [bit] NOT NULL,
	[removed_at] [datetime] NULL,
 CONSTRAINT [PK_Task_Assignees] PRIMARY KEY CLUSTERED 
(
	[task_id] ASC,
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Task_Comments]    Script Date: 17/03/2026 8:32:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task_Comments](
	[comment_id] [int] IDENTITY(1,1) NOT NULL,
	[task_id] [int] NOT NULL,
	[created_by] [int] NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[parent_comment_id] [int] NULL,
	[is_deleted] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
	[assigned_to] [int] NULL,
	[is_completed] [bit] NOT NULL,
	[completed_at] [datetime] NULL,
 CONSTRAINT [PK_Task_Comments] PRIMARY KEY CLUSTERED 
(
	[comment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Task_History]    Script Date: 17/03/2026 8:32:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task_History](
	[history_id] [int] IDENTITY(1,1) NOT NULL,
	[task_id] [int] NOT NULL,
	[changed_by] [int] NOT NULL,
	[changed_at] [datetime] NOT NULL,
	[action] [varchar](50) NOT NULL,
	[note] [nvarchar](500) NULL,
 CONSTRAINT [PK_Task_History] PRIMARY KEY CLUSTERED 
(
	[history_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Task_History_Detail]    Script Date: 17/03/2026 8:32:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task_History_Detail](
	[detail_id] [int] IDENTITY(1,1) NOT NULL,
	[history_id] [int] NOT NULL,
	[field_name] [varchar](50) NOT NULL,
	[old_value] [nvarchar](500) NULL,
	[new_value] [nvarchar](500) NULL,
 CONSTRAINT [PK_Task_History_Detail] PRIMARY KEY CLUSTERED 
(
	[detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Task_Reminders]    Script Date: 17/03/2026 8:32:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task_Reminders](
	[reminder_id] [int] IDENTITY(1,1) NOT NULL,
	[task_id] [int] NOT NULL,
	[remind_before_value] [int] NOT NULL,
	[remind_before_unit] [varchar](20) NOT NULL,
	[remind_at] [datetime] NOT NULL,
	[is_sent] [bit] NOT NULL,
	[sent_at] [datetime] NULL,
	[created_by] [int] NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK_Task_Reminders] PRIMARY KEY CLUSTERED 
(
	[reminder_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 17/03/2026 8:32:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[task_id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[description] [nvarchar](max) NULL,
	[status] [varchar](30) NOT NULL,
	[priority] [varchar](20) NOT NULL,
	[due_date] [datetime] NULL,
	[progress] [int] NOT NULL,
	[created_by] [int] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[start_date] [datetime] NULL,
	[completed_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[related_type] [varchar](50) NULL,
	[related_id] [int] NULL,
	[cancelled_at] [datetime] NULL,
 CONSTRAINT [PK_Tasks] PRIMARY KEY CLUSTERED 
(
	[task_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 17/03/2026 8:32:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[ticket_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NULL,
	[subject] [nvarchar](100) NULL,
	[description] [nvarchar](max) NULL,
	[priority] [varchar](20) NULL,
	[status] [varchar](20) NULL,
	[assigned_to] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ticket_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 17/03/2026 8:32:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[email] [varchar](100) NULL,
	[full_name] [nvarchar](100) NULL,
	[phone] [varchar](20) NULL,
	[role_id] [int] NOT NULL,
	[status] [varchar](20) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
	[last_login_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_users_username] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Virtual_Wardrobe]    Script Date: 17/03/2026 8:32:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Virtual_Wardrobe](
	[wardrobe_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[bought_at] [datetime] NULL,
	[photo_feedback] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[wardrobe_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Activities_Related_Date]    Script Date: 17/03/2026 8:32:13 CH ******/
CREATE NONCLUSTERED INDEX [IX_Activities_Related_Date] ON [dbo].[Activities]
(
	[related_type] ASC,
	[related_id] ASC,
	[activity_date] DESC
)
INCLUDE([activity_id],[activity_type],[subject],[created_by]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Activities_Source]    Script Date: 17/03/2026 8:32:13 CH ******/
CREATE NONCLUSTERED INDEX [IX_Activities_Source] ON [dbo].[Activities]
(
	[source_type] ASC,
	[source_id] ASC
)
INCLUDE([activity_id],[activity_type],[activity_date]) 
WHERE ([source_type] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Measurements_Latest]    Script Date: 17/03/2026 8:32:13 CH ******/
CREATE NONCLUSTERED INDEX [IX_Measurements_Latest] ON [dbo].[Customer_Measurements]
(
	[customer_id] ASC,
	[measured_at] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StyleMap]    Script Date: 17/03/2026 8:32:13 CH ******/
CREATE NONCLUSTERED INDEX [IX_StyleMap] ON [dbo].[Customer_Style_Map]
(
	[customer_id] ASC,
	[tag_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Customers_Filter]    Script Date: 17/03/2026 8:32:13 CH ******/
CREATE NONCLUSTERED INDEX [IX_Customers_Filter] ON [dbo].[Customers]
(
	[loyalty_tier] ASC,
	[status] ASC,
	[return_rate] ASC
)
INCLUDE([name],[phone],[rfm_score],[last_purchase]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Customers_rfm_customer]    Script Date: 17/03/2026 8:32:13 CH ******/
CREATE NONCLUSTERED INDEX [IX_Customers_rfm_customer] ON [dbo].[Customers]
(
	[rfm_score] DESC,
	[customer_id] DESC
)
INCLUDE([name],[phone],[email],[gender],[loyalty_tier],[return_rate],[last_purchase],[status]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Deals_customer_id]    Script Date: 17/03/2026 8:32:13 CH ******/
CREATE NONCLUSTERED INDEX [IX_Deals_customer_id] ON [dbo].[Deals]
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_NQueue_Poll]    Script Date: 17/03/2026 8:32:13 CH ******/
CREATE NONCLUSTERED INDEX [IX_NQueue_Poll] ON [dbo].[Notification_Queue]
(
	[status] ASC,
	[scheduled_at] ASC,
	[priority] DESC
)
WHERE ([status]='pending')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NQueue_Recipient]    Script Date: 17/03/2026 8:32:13 CH ******/
CREATE NONCLUSTERED INDEX [IX_NQueue_Recipient] ON [dbo].[Notification_Queue]
(
	[recipient_user_id] ASC,
	[created_at] DESC
)
INCLUDE([status],[title],[type]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_NQueue_Retry]    Script Date: 17/03/2026 8:32:13 CH ******/
CREATE NONCLUSTERED INDEX [IX_NQueue_Retry] ON [dbo].[Notification_Queue]
(
	[status] ASC,
	[retry_count] ASC
)
WHERE ([status]='failed')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_NRE_Scheduler]    Script Date: 17/03/2026 8:32:13 CH ******/
CREATE NONCLUSTERED INDEX [IX_NRE_Scheduler] ON [dbo].[Notification_Rule_Engine]
(
	[is_active] ASC,
	[next_run_at] ASC
)
WHERE (([rule_type] IN ('schedule', 'condition')) AND [is_active]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_NRE_TriggerEvent]    Script Date: 17/03/2026 8:32:13 CH ******/
CREATE NONCLUSTERED INDEX [IX_NRE_TriggerEvent] ON [dbo].[Notification_Rule_Engine]
(
	[trigger_event] ASC,
	[is_active] ASC
)
WHERE ([rule_type]='event_trigger' AND [is_active]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Notifications_Scheduler]    Script Date: 17/03/2026 8:32:13 CH ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_Scheduler] ON [dbo].[Notifications]
(
	[status] ASC,
	[scheduled_at] ASC
)
WHERE ([status] IN ('pending', 'failed'))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Anchors_Session_Page]    Script Date: 17/03/2026 8:32:13 CH ******/
CREATE NONCLUSTERED INDEX [IX_Anchors_Session_Page] ON [dbo].[Pagination_Anchors]
(
	[session_id] ASC,
	[page_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TaskAssignees_ActiveUser]    Script Date: 17/03/2026 8:32:13 CH ******/
CREATE NONCLUSTERED INDEX [IX_TaskAssignees_ActiveUser] ON [dbo].[Task_Assignees]
(
	[user_id] ASC,
	[is_primary] ASC,
	[removed_at] ASC
)
INCLUDE([task_id],[assigned_at],[assigned_by]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TaskComments_Progress]    Script Date: 17/03/2026 8:32:13 CH ******/
CREATE NONCLUSTERED INDEX [IX_TaskComments_Progress] ON [dbo].[Task_Comments]
(
	[task_id] ASC,
	[is_deleted] ASC,
	[is_completed] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TaskComments_Task]    Script Date: 17/03/2026 8:32:13 CH ******/
CREATE NONCLUSTERED INDEX [IX_TaskComments_Task] ON [dbo].[Task_Comments]
(
	[task_id] ASC,
	[created_at] ASC
)
WHERE ([is_deleted]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TaskHistory_Task_Time]    Script Date: 17/03/2026 8:32:13 CH ******/
CREATE NONCLUSTERED INDEX [IX_TaskHistory_Task_Time] ON [dbo].[Task_History]
(
	[task_id] ASC,
	[changed_at] DESC
)
INCLUDE([action],[changed_by]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TaskReminders_Poll]    Script Date: 17/03/2026 8:32:13 CH ******/
CREATE NONCLUSTERED INDEX [IX_TaskReminders_Poll] ON [dbo].[Task_Reminders]
(
	[is_sent] ASC,
	[remind_at] ASC
)
WHERE ([is_sent]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Tasks_DueDate_Status]    Script Date: 17/03/2026 8:32:13 CH ******/
CREATE NONCLUSTERED INDEX [IX_Tasks_DueDate_Status] ON [dbo].[Tasks]
(
	[due_date] ASC,
	[status] ASC
)
INCLUDE([task_id],[title],[related_type],[related_id]) 
WHERE ([status]<>'completed' AND [status]<>'cancelled')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Tasks_Related]    Script Date: 17/03/2026 8:32:13 CH ******/
CREATE NONCLUSTERED INDEX [IX_Tasks_Related] ON [dbo].[Tasks]
(
	[related_type] ASC,
	[related_id] ASC
)
INCLUDE([task_id],[title],[status],[priority],[due_date],[created_by],[created_at]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Activities] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Campaign_Leads] ADD  DEFAULT (getdate()) FOR [assigned_at]
GO
ALTER TABLE [dbo].[Campaign_Reports] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Campaigns] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Customer_Measurements] ADD  DEFAULT (getdate()) FOR [measured_at]
GO
ALTER TABLE [dbo].[Customer_Segment_Map] ADD  DEFAULT (getdate()) FOR [assigned_at]
GO
ALTER TABLE [dbo].[CustomerOTP] ADD  DEFAULT ((0)) FOR [failed_attempt]
GO
ALTER TABLE [dbo].[CustomerOTP] ADD  DEFAULT ((0)) FOR [send_count]
GO
ALTER TABLE [dbo].[CustomerOTP] ADD  DEFAULT (sysdatetime()) FOR [last_send]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ('INDIVIDUAL') FOR [customer_type]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ('BRONZE') FOR [loyalty_tier]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ((0)) FOR [rfm_score]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT ((0)) FOR [return_rate]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Deals] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Feedbacks] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Leads] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Leads] ADD  DEFAULT ((0)) FOR [is_converted]
GO
ALTER TABLE [dbo].[Notification_Queue] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[Notification_Queue] ADD  DEFAULT ('normal') FOR [priority]
GO
ALTER TABLE [dbo].[Notification_Queue] ADD  DEFAULT (getdate()) FOR [scheduled_at]
GO
ALTER TABLE [dbo].[Notification_Queue] ADD  DEFAULT ((0)) FOR [retry_count]
GO
ALTER TABLE [dbo].[Notification_Queue] ADD  DEFAULT ((3)) FOR [max_retries]
GO
ALTER TABLE [dbo].[Notification_Queue] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Notification_Recipients] ADD  CONSTRAINT [DF_NotificationRecipients_IsRead]  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[Notification_Rule_Engine] ADD  DEFAULT ('day') FOR [condition_unit]
GO
ALTER TABLE [dbo].[Notification_Rule_Engine] ADD  DEFAULT ('normal') FOR [notification_priority]
GO
ALTER TABLE [dbo].[Notification_Rule_Engine] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Notification_Rule_Engine] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Notifications] ADD  CONSTRAINT [DF_Notifications_CreatedAt]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ('normal') FOR [priority]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[Pagination_Anchors] ADD  DEFAULT (getutcdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Service_Reports] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Task_Assignees] ADD  CONSTRAINT [DF_TaskAssignees_AssignedAt]  DEFAULT (getdate()) FOR [assigned_at]
GO
ALTER TABLE [dbo].[Task_Assignees] ADD  CONSTRAINT [DF_TaskAssignees_IsPrimary]  DEFAULT ((0)) FOR [is_primary]
GO
ALTER TABLE [dbo].[Task_Comments] ADD  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[Task_Comments] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Task_Comments] ADD  DEFAULT ((0)) FOR [is_completed]
GO
ALTER TABLE [dbo].[Task_History] ADD  CONSTRAINT [DF_TaskHistory_ChangedAt]  DEFAULT (getdate()) FOR [changed_at]
GO
ALTER TABLE [dbo].[Task_History] ADD  CONSTRAINT [DF_TaskHistory_Action]  DEFAULT ('update') FOR [action]
GO
ALTER TABLE [dbo].[Task_Reminders] ADD  DEFAULT ('day') FOR [remind_before_unit]
GO
ALTER TABLE [dbo].[Task_Reminders] ADD  DEFAULT ((0)) FOR [is_sent]
GO
ALTER TABLE [dbo].[Task_Reminders] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Tasks] ADD  CONSTRAINT [DF_Tasks_Status]  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[Tasks] ADD  CONSTRAINT [DF_Tasks_Priority]  DEFAULT ('Medium') FOR [priority]
GO
ALTER TABLE [dbo].[Tasks] ADD  CONSTRAINT [DF_Tasks_Progress]  DEFAULT ((0)) FOR [progress]
GO
ALTER TABLE [dbo].[Tasks] ADD  CONSTRAINT [DF_Tasks_CreatedAt]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Tickets] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Virtual_Wardrobe] ADD  DEFAULT (getdate()) FOR [bought_at]
GO
ALTER TABLE [dbo].[Activities]  WITH CHECK ADD  CONSTRAINT [fk_activities_performed_by] FOREIGN KEY([performed_by])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Activities] CHECK CONSTRAINT [fk_activities_performed_by]
GO
ALTER TABLE [dbo].[Activities]  WITH CHECK ADD  CONSTRAINT [fk_activities_user] FOREIGN KEY([created_by])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Activities] CHECK CONSTRAINT [fk_activities_user]
GO
ALTER TABLE [dbo].[Campaign_Leads]  WITH CHECK ADD  CONSTRAINT [fk_cl_campaign] FOREIGN KEY([campaign_id])
REFERENCES [dbo].[Campaigns] ([campaign_id])
GO
ALTER TABLE [dbo].[Campaign_Leads] CHECK CONSTRAINT [fk_cl_campaign]
GO
ALTER TABLE [dbo].[Campaign_Leads]  WITH CHECK ADD  CONSTRAINT [fk_cl_lead] FOREIGN KEY([lead_id])
REFERENCES [dbo].[Leads] ([lead_id])
GO
ALTER TABLE [dbo].[Campaign_Leads] CHECK CONSTRAINT [fk_cl_lead]
GO
ALTER TABLE [dbo].[Campaign_Reports]  WITH CHECK ADD  CONSTRAINT [fk_campaign_reports_campaign] FOREIGN KEY([campaign_id])
REFERENCES [dbo].[Campaigns] ([campaign_id])
GO
ALTER TABLE [dbo].[Campaign_Reports] CHECK CONSTRAINT [fk_campaign_reports_campaign]
GO
ALTER TABLE [dbo].[Campaigns]  WITH CHECK ADD  CONSTRAINT [fk_campaigns_user] FOREIGN KEY([created_by])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Campaigns] CHECK CONSTRAINT [fk_campaigns_user]
GO
ALTER TABLE [dbo].[Category_Products]  WITH CHECK ADD  CONSTRAINT [fk_cp_category] FOREIGN KEY([category_id])
REFERENCES [dbo].[Categories] ([category_id])
GO
ALTER TABLE [dbo].[Category_Products] CHECK CONSTRAINT [fk_cp_category]
GO
ALTER TABLE [dbo].[Category_Products]  WITH CHECK ADD  CONSTRAINT [fk_cp_product] FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([product_id])
GO
ALTER TABLE [dbo].[Category_Products] CHECK CONSTRAINT [fk_cp_product]
GO
ALTER TABLE [dbo].[Customer_Measurements]  WITH CHECK ADD  CONSTRAINT [fk_measure_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customers] ([customer_id])
GO
ALTER TABLE [dbo].[Customer_Measurements] CHECK CONSTRAINT [fk_measure_customer]
GO
ALTER TABLE [dbo].[Customer_Segment_Map]  WITH CHECK ADD  CONSTRAINT [fk_csm_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customers] ([customer_id])
GO
ALTER TABLE [dbo].[Customer_Segment_Map] CHECK CONSTRAINT [fk_csm_customer]
GO
ALTER TABLE [dbo].[Customer_Segment_Map]  WITH CHECK ADD  CONSTRAINT [fk_csm_segment] FOREIGN KEY([segment_id])
REFERENCES [dbo].[Customer_Segments] ([segment_id])
GO
ALTER TABLE [dbo].[Customer_Segment_Map] CHECK CONSTRAINT [fk_csm_segment]
GO
ALTER TABLE [dbo].[Customer_Style_Map]  WITH CHECK ADD  CONSTRAINT [fk_style_cust] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customers] ([customer_id])
GO
ALTER TABLE [dbo].[Customer_Style_Map] CHECK CONSTRAINT [fk_style_cust]
GO
ALTER TABLE [dbo].[Customer_Style_Map]  WITH CHECK ADD  CONSTRAINT [fk_style_tag] FOREIGN KEY([tag_id])
REFERENCES [dbo].[Style_Tags] ([tag_id])
GO
ALTER TABLE [dbo].[Customer_Style_Map] CHECK CONSTRAINT [fk_style_tag]
GO
ALTER TABLE [dbo].[CustomerOTP]  WITH CHECK ADD  CONSTRAINT [fk_customerotp_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customers] ([customer_id])
GO
ALTER TABLE [dbo].[CustomerOTP] CHECK CONSTRAINT [fk_customerotp_customer]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [fk_customers_owner] FOREIGN KEY([owner_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [fk_customers_owner]
GO
ALTER TABLE [dbo].[Deal_Products]  WITH CHECK ADD  CONSTRAINT [fk_dp_deal] FOREIGN KEY([deal_id])
REFERENCES [dbo].[Deals] ([deal_id])
GO
ALTER TABLE [dbo].[Deal_Products] CHECK CONSTRAINT [fk_dp_deal]
GO
ALTER TABLE [dbo].[Deal_Products]  WITH CHECK ADD  CONSTRAINT [fk_dp_product] FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([product_id])
GO
ALTER TABLE [dbo].[Deal_Products] CHECK CONSTRAINT [fk_dp_product]
GO
ALTER TABLE [dbo].[Deals]  WITH CHECK ADD  CONSTRAINT [fk_deals_customers] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customers] ([customer_id])
GO
ALTER TABLE [dbo].[Deals] CHECK CONSTRAINT [fk_deals_customers]
GO
ALTER TABLE [dbo].[Deals]  WITH CHECK ADD  CONSTRAINT [fk_deals_lead] FOREIGN KEY([lead_id])
REFERENCES [dbo].[Leads] ([lead_id])
GO
ALTER TABLE [dbo].[Deals] CHECK CONSTRAINT [fk_deals_lead]
GO
ALTER TABLE [dbo].[Deals]  WITH CHECK ADD  CONSTRAINT [fk_deals_owner] FOREIGN KEY([owner_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Deals] CHECK CONSTRAINT [fk_deals_owner]
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD  CONSTRAINT [fk_feedbacks_ticket] FOREIGN KEY([ticket_id])
REFERENCES [dbo].[Tickets] ([ticket_id])
GO
ALTER TABLE [dbo].[Feedbacks] CHECK CONSTRAINT [fk_feedbacks_ticket]
GO
ALTER TABLE [dbo].[Leads]  WITH CHECK ADD  CONSTRAINT [fk_leads_campaign] FOREIGN KEY([campaign_id])
REFERENCES [dbo].[Campaigns] ([campaign_id])
GO
ALTER TABLE [dbo].[Leads] CHECK CONSTRAINT [fk_leads_campaign]
GO
ALTER TABLE [dbo].[Leads]  WITH CHECK ADD  CONSTRAINT [fk_leads_customers] FOREIGN KEY([converted_customer_id])
REFERENCES [dbo].[Customers] ([customer_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Leads] CHECK CONSTRAINT [fk_leads_customers]
GO
ALTER TABLE [dbo].[Leads]  WITH CHECK ADD  CONSTRAINT [fk_leads_user] FOREIGN KEY([assigned_to])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Leads] CHECK CONSTRAINT [fk_leads_user]
GO
ALTER TABLE [dbo].[Notification_Queue]  WITH CHECK ADD  CONSTRAINT [FK_NotificationQueue_Notifications] FOREIGN KEY([notification_id])
REFERENCES [dbo].[Notifications] ([notification_id])
GO
ALTER TABLE [dbo].[Notification_Queue] CHECK CONSTRAINT [FK_NotificationQueue_Notifications]
GO
ALTER TABLE [dbo].[Notification_Queue]  WITH CHECK ADD  CONSTRAINT [FK_NotificationQueue_User] FOREIGN KEY([recipient_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Notification_Queue] CHECK CONSTRAINT [FK_NotificationQueue_User]
GO
ALTER TABLE [dbo].[Notification_Recipients]  WITH CHECK ADD  CONSTRAINT [fk_nr_notification] FOREIGN KEY([notification_id])
REFERENCES [dbo].[Notifications] ([notification_id])
GO
ALTER TABLE [dbo].[Notification_Recipients] CHECK CONSTRAINT [fk_nr_notification]
GO
ALTER TABLE [dbo].[Notification_Recipients]  WITH CHECK ADD  CONSTRAINT [fk_nr_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Notification_Recipients] CHECK CONSTRAINT [fk_nr_user]
GO
ALTER TABLE [dbo].[Notification_Rule_Engine]  WITH CHECK ADD  CONSTRAINT [fk_nre_created_by] FOREIGN KEY([created_by])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Notification_Rule_Engine] CHECK CONSTRAINT [fk_nre_created_by]
GO
ALTER TABLE [dbo].[Notification_Rule_Engine]  WITH CHECK ADD  CONSTRAINT [fk_nre_escalate_to] FOREIGN KEY([escalate_to_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Notification_Rule_Engine] CHECK CONSTRAINT [fk_nre_escalate_to]
GO
ALTER TABLE [dbo].[Notification_Rule_Engine]  WITH CHECK ADD  CONSTRAINT [fk_nre_recipient_user] FOREIGN KEY([recipient_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Notification_Rule_Engine] CHECK CONSTRAINT [fk_nre_recipient_user]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [fk_notifications_created_by] FOREIGN KEY([created_by])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [fk_notifications_created_by]
GO
ALTER TABLE [dbo].[Task_Assignees]  WITH CHECK ADD  CONSTRAINT [fk_ta_assigned_by] FOREIGN KEY([assigned_by])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Task_Assignees] CHECK CONSTRAINT [fk_ta_assigned_by]
GO
ALTER TABLE [dbo].[Task_Assignees]  WITH CHECK ADD  CONSTRAINT [fk_ta_task] FOREIGN KEY([task_id])
REFERENCES [dbo].[Tasks] ([task_id])
GO
ALTER TABLE [dbo].[Task_Assignees] CHECK CONSTRAINT [fk_ta_task]
GO
ALTER TABLE [dbo].[Task_Assignees]  WITH CHECK ADD  CONSTRAINT [fk_ta_user] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Task_Assignees] CHECK CONSTRAINT [fk_ta_user]
GO
ALTER TABLE [dbo].[Task_Comments]  WITH CHECK ADD  CONSTRAINT [fk_tc_parent] FOREIGN KEY([parent_comment_id])
REFERENCES [dbo].[Task_Comments] ([comment_id])
GO
ALTER TABLE [dbo].[Task_Comments] CHECK CONSTRAINT [fk_tc_parent]
GO
ALTER TABLE [dbo].[Task_Comments]  WITH CHECK ADD  CONSTRAINT [fk_tc_task] FOREIGN KEY([task_id])
REFERENCES [dbo].[Tasks] ([task_id])
GO
ALTER TABLE [dbo].[Task_Comments] CHECK CONSTRAINT [fk_tc_task]
GO
ALTER TABLE [dbo].[Task_Comments]  WITH CHECK ADD  CONSTRAINT [fk_tc_user] FOREIGN KEY([created_by])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Task_Comments] CHECK CONSTRAINT [fk_tc_user]
GO
ALTER TABLE [dbo].[Task_History]  WITH CHECK ADD  CONSTRAINT [fk_th_task] FOREIGN KEY([task_id])
REFERENCES [dbo].[Tasks] ([task_id])
GO
ALTER TABLE [dbo].[Task_History] CHECK CONSTRAINT [fk_th_task]
GO
ALTER TABLE [dbo].[Task_History]  WITH CHECK ADD  CONSTRAINT [fk_th_user] FOREIGN KEY([changed_by])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Task_History] CHECK CONSTRAINT [fk_th_user]
GO
ALTER TABLE [dbo].[Task_History_Detail]  WITH CHECK ADD  CONSTRAINT [fk_thd_history] FOREIGN KEY([history_id])
REFERENCES [dbo].[Task_History] ([history_id])
GO
ALTER TABLE [dbo].[Task_History_Detail] CHECK CONSTRAINT [fk_thd_history]
GO
ALTER TABLE [dbo].[Task_Reminders]  WITH CHECK ADD  CONSTRAINT [fk_tr_created_by] FOREIGN KEY([created_by])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Task_Reminders] CHECK CONSTRAINT [fk_tr_created_by]
GO
ALTER TABLE [dbo].[Task_Reminders]  WITH CHECK ADD  CONSTRAINT [fk_tr_task] FOREIGN KEY([task_id])
REFERENCES [dbo].[Tasks] ([task_id])
GO
ALTER TABLE [dbo].[Task_Reminders] CHECK CONSTRAINT [fk_tr_task]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [fk_tickets_customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customers] ([customer_id])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [fk_tickets_customer]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [fk_tickets_user] FOREIGN KEY([assigned_to])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [fk_tickets_user]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [fk_users_role] FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([role_id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [fk_users_role]
GO
ALTER TABLE [dbo].[Virtual_Wardrobe]  WITH CHECK ADD  CONSTRAINT [fk_wardrobe_cust] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customers] ([customer_id])
GO
ALTER TABLE [dbo].[Virtual_Wardrobe] CHECK CONSTRAINT [fk_wardrobe_cust]
GO
ALTER TABLE [dbo].[Activities]  WITH CHECK ADD  CONSTRAINT [CK_Activities_SourceType] CHECK  (([source_type]='manual' OR [source_type]='system' OR [source_type]='customer' OR [source_type]='lead' OR [source_type]='deal' OR [source_type]='task' OR [source_type] IS NULL))
GO
ALTER TABLE [dbo].[Activities] CHECK CONSTRAINT [CK_Activities_SourceType]
GO
ALTER TABLE [dbo].[Notification_Queue]  WITH CHECK ADD  CONSTRAINT [CK_NQueue_Priority] CHECK  (([priority]='urgent' OR [priority]='high' OR [priority]='normal' OR [priority]='low'))
GO
ALTER TABLE [dbo].[Notification_Queue] CHECK CONSTRAINT [CK_NQueue_Priority]
GO
ALTER TABLE [dbo].[Notification_Queue]  WITH CHECK ADD  CONSTRAINT [CK_NQueue_Status] CHECK  (([status]='cancelled' OR [status]='failed' OR [status]='sent' OR [status]='pending'))
GO
ALTER TABLE [dbo].[Notification_Queue] CHECK CONSTRAINT [CK_NQueue_Status]
GO
ALTER TABLE [dbo].[Notification_Rule_Engine]  WITH CHECK ADD  CONSTRAINT [CK_NRE_Priority] CHECK  (([notification_priority]='urgent' OR [notification_priority]='high' OR [notification_priority]='normal' OR [notification_priority]='low'))
GO
ALTER TABLE [dbo].[Notification_Rule_Engine] CHECK CONSTRAINT [CK_NRE_Priority]
GO
ALTER TABLE [dbo].[Notification_Rule_Engine]  WITH CHECK ADD  CONSTRAINT [CK_NRE_RecipientType] CHECK  (([recipient_type]='specific_user' OR [recipient_type]='manager' OR [recipient_type]='owner' OR [recipient_type]='assignee' OR [recipient_type] IS NULL))
GO
ALTER TABLE [dbo].[Notification_Rule_Engine] CHECK CONSTRAINT [CK_NRE_RecipientType]
GO
ALTER TABLE [dbo].[Notification_Rule_Engine]  WITH CHECK ADD  CONSTRAINT [CK_NRE_RuleType] CHECK  (([rule_type]='condition' OR [rule_type]='schedule' OR [rule_type]='event_trigger'))
GO
ALTER TABLE [dbo].[Notification_Rule_Engine] CHECK CONSTRAINT [CK_NRE_RuleType]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [CK_Notifications_Priority] CHECK  (([priority]='urgent' OR [priority]='high' OR [priority]='normal' OR [priority]='low'))
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [CK_Notifications_Priority]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [CK_Notifications_Status] CHECK  (([status]='cancelled' OR [status]='failed' OR [status]='sent' OR [status]='pending' OR [status]='draft'))
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [CK_Notifications_Status]
GO
ALTER TABLE [dbo].[Task_History]  WITH CHECK ADD  CONSTRAINT [CK_TaskHistory_Action] CHECK  (([action]='update' OR [action]='reopened' OR [action]='priority_changed' OR [action]='due_date_changed' OR [action]='cancelled' OR [action]='completed' OR [action]='progress_updated' OR [action]='unassigned' OR [action]='assigned' OR [action]='status_changed' OR [action]='created' OR [action] IS NULL))
GO
ALTER TABLE [dbo].[Task_History] CHECK CONSTRAINT [CK_TaskHistory_Action]
GO
ALTER TABLE [dbo].[Task_Reminders]  WITH CHECK ADD  CONSTRAINT [CK_TR_Unit] CHECK  (([remind_before_unit]='day' OR [remind_before_unit]='hour' OR [remind_before_unit]='minute'))
GO
ALTER TABLE [dbo].[Task_Reminders] CHECK CONSTRAINT [CK_TR_Unit]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [CK_Tasks_RelatedType] CHECK  (([related_type]='deal' OR [related_type]='lead' OR [related_type]='customer' OR [related_type] IS NULL))
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [CK_Tasks_RelatedType]
GO
/****** Object:  StoredProcedure [dbo].[sp_Calculate_RFM]    Script Date: 17/03/2026 8:32:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE
	

 PROCEDURE [dbo].[sp_Calculate_RFM]
AS
BEGIN
	SET NOCOUNT ON;
	SET ANSI_WARNINGS OFF;;

	WITH RFM_BASE
	AS (
		SELECT c.customer_id
			,
			-- Recency
			ISNULL(DATEDIFF(DAY, MAX(d.updated_at), GETDATE()), 9999 -- nếu chưa mua bao giờ → rất lâu
			) AS recency_days
			,
			-- Frequency
			COUNT(d.deal_id) AS frequency
			,
			-- Monetary
			ISNULL(SUM(d.actual_value), 0) AS monetary
		FROM Customers c
		LEFT JOIN Deals d ON c.customer_id = d.customer_id
			AND d.stage = 'Closed Won'
		GROUP BY c.customer_id
		)
		,RFM_SCORE
	AS (
		SELECT *
			,
			-- R: mua càng gần đây → điểm càng cao
			NTILE(6) OVER (
				ORDER BY recency_days DESC
				) - 1 AS R_score
			,
			-- F: mua càng nhiều → điểm càng cao
			NTILE(6) OVER (
				ORDER BY frequency ASC
				) - 1 AS F_score
			,
			-- M: chi càng nhiều → điểm càng cao
			NTILE(6) OVER (
				ORDER BY monetary ASC
				) - 1 AS M_score
		FROM RFM_BASE
		)
	UPDATE c
	SET c.rfm_score = (s.R_score * 100 + s.F_score * 10 + s.M_score)
	FROM Customers c
	JOIN RFM_SCORE s ON c.customer_id = s.customer_id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_FilterCustomersAdvanced]    Script Date: 17/03/2026 8:32:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE
	

 PROCEDURE [dbo].[sp_FilterCustomersAdvanced] (
	@PageSize INT
	,@PageNumber INT
	,@Keyword NVARCHAR(100) = NULL
	,@LoyaltyTiers dbo.StringList READONLY
	,@BodyShapes dbo.StringList READONLY
	,@Sizes dbo.StringList READONLY
	,@TagIds dbo.IntList READONLY
	,@ReturnRateMode NVARCHAR(10) = NULL
	,@SessionID UNIQUEIDENTIFIER = NULL
	,@FetchTotal BIT = 0
	)
AS
BEGIN
	SET NOCOUNT ON;

	IF @SessionID IS NULL
		SET @SessionID = NEWID();

	-- =====================================================
	-- 1. LỌC CUSTOMER → TEMP TABLE với thứ tự sort
	-- =====================================================
	CREATE TABLE #FilteredCustomers (
		sort_rank INT IDENTITY(1, 1) PRIMARY KEY
		,customer_id INT NOT NULL
		,rfm_score DECIMAL(10, 4)
		);;

	WITH Sorted
	AS (
		SELECT DISTINCT c.customer_id
			,c.rfm_score
		FROM Customers c
		LEFT JOIN (
			SELECT *
				,ROW_NUMBER() OVER (
					PARTITION BY customer_id ORDER BY measured_at DESC
					) AS rn
			FROM Customer_Measurements
			) m ON m.customer_id = c.customer_id
			AND m.rn = 1
		WHERE (
				@Keyword IS NULL
				OR @Keyword = ''
				OR c.name LIKE '%' + @Keyword + '%'
				OR c.phone LIKE '%' + @Keyword + '%'
				)
			AND (
				NOT EXISTS (
					SELECT 1
					FROM @LoyaltyTiers
					)
				OR c.loyalty_tier IN (
					SELECT value
					FROM @LoyaltyTiers
					)
				)
			AND (
				@ReturnRateMode IS NULL
				OR (
					@ReturnRateMode = 'HIGH'
					AND c.return_rate > 40.0
					)
				OR (
					@ReturnRateMode = 'NORMAL'
					AND c.return_rate <= 40.0
					)
				)
			AND (
				NOT EXISTS (
					SELECT 1
					FROM @TagIds
					)
				OR EXISTS (
					SELECT 1
					FROM Customer_Style_Map sm
					WHERE sm.customer_id = c.customer_id
						AND sm.tag_id IN (
							SELECT value
							FROM @TagIds
							)
					)
				)
			AND (
				NOT EXISTS (
					SELECT 1
					FROM @BodyShapes
					)
				OR m.body_shape IN (
					SELECT value
					FROM @BodyShapes
					)
				)
			AND (
				NOT EXISTS (
					SELECT 1
					FROM @Sizes
					)
				OR m.preferred_size IN (
					SELECT value
					FROM @Sizes
					)
				)
		)
	INSERT INTO #FilteredCustomers (
		customer_id
		,rfm_score
		)
	SELECT customer_id
		,rfm_score
	FROM Sorted
	ORDER BY rfm_score DESC
		,customer_id DESC;

	-- =====================================================
	-- 2. COUNT TOTAL (chỉ khi cần)
	-- =====================================================
	IF @FetchTotal = 1
	BEGIN
		SELECT COUNT(*) AS TotalRecords
			,CEILING(COUNT(*) * 1.0 / @PageSize) AS TotalPages
			,@SessionID AS SessionID
		FROM #FilteredCustomers;
	END

	-- =====================================================
	-- 3. QUERY DATA — dùng sort_rank, không dùng keyset
	-- =====================================================
	DECLARE @StartRank INT = (@PageNumber - 1) * @PageSize + 1;
	DECLARE @EndRank INT = @PageNumber * @PageSize;;

	WITH LatestMeasurement
	AS (
		SELECT *
			,ROW_NUMBER() OVER (
				PARTITION BY customer_id ORDER BY measured_at DESC
				) AS rn
		FROM Customer_Measurements
		)
		,TagAgg
	AS (
		SELECT csm.customer_id
			,STRING_AGG(t.tag_name, ', ') AS style_tags
		FROM Customer_Style_Map csm
		JOIN Style_Tags t ON csm.tag_id = t.tag_id
		GROUP BY csm.customer_id
		)
	SELECT c.customer_id
		,c.name
		,c.phone
		,c.email
		,c.gender
		,c.loyalty_tier
		,c.rfm_score
		,CASE 
			WHEN m.preferred_size IS NULL
				THEN NULL
			ELSE CONCAT (
					m.preferred_size
					,' ('
					,CAST(m.height AS INT)
					,'cm - '
					,CAST(m.weight AS INT)
					,'kg)'
					)
			END AS fit_profile
		,m.body_shape
		,m.height
		,m.weight
		,ta.style_tags
		,c.return_rate
		,c.last_purchase AS last_purchase_date
		,c.STATUS
	FROM #FilteredCustomers fc
	JOIN Customers c ON c.customer_id = fc.customer_id
	LEFT JOIN LatestMeasurement m ON m.customer_id = c.customer_id
		AND m.rn = 1
	LEFT JOIN TagAgg ta ON ta.customer_id = c.customer_id
	WHERE fc.sort_rank BETWEEN @StartRank
			AND @EndRank
	ORDER BY fc.sort_rank;

	DROP TABLE #FilteredCustomers;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetCustomersPaged]    Script Date: 17/03/2026 8:32:13 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE
	

 PROCEDURE [dbo].[sp_GetCustomersPaged] @PageSize INT
	,@PageNumber INT
	,@SessionID UNIQUEIDENTIFIER = NULL
	,-- NULL = session mới
	@FetchTotal BIT = 0
AS
BEGIN
	SET NOCOUNT ON;

	-- ① Tạo session mới nếu chưa có
	IF @SessionID IS NULL
		SET @SessionID = NEWID();

	-- ② Đếm total chỉ khi cần (page 1 hoặc app yêu cầu)
	IF @FetchTotal = 1
	BEGIN
		SELECT COUNT_BIG(*) AS TotalRecords
			,CEILING(COUNT_BIG(*) * 1.0 / @PageSize) AS TotalPages
			,@SessionID AS SessionID
		FROM Customers;
	END

	-- ③ Lấy anchor của page này (nếu đã có từ lần trước)
	DECLARE @AnchorRFM DECIMAL(10, 4) = NULL;
	DECLARE @AnchorID INT = NULL;

	SELECT @AnchorRFM = anchor_rfm
		,@AnchorID = anchor_id
	FROM Pagination_Anchors
	WHERE session_id = @SessionID
		AND page_number = @PageNumber;

	-- ④ Keyset query
	WITH LatestMeasurement
	AS (
		SELECT m.customer_id
			,m.preferred_size
			,m.height
			,m.weight
			,m.body_shape
		FROM (
			SELECT *
				,ROW_NUMBER() OVER (
					PARTITION BY customer_id ORDER BY measured_at DESC
					) AS rn
			FROM Customer_Measurements
			) m
		WHERE m.rn = 1
		)
	SELECT TOP (@PageSize) c.customer_id
		,c.name
		,c.phone
		,c.email
		,c.gender
		,c.loyalty_tier
		,c.rfm_score
		,CASE 
			WHEN m.preferred_size IS NULL
				THEN NULL
			ELSE CONCAT (
					m.preferred_size
					,' ('
					,CAST(m.height AS INT)
					,'cm - '
					,CAST(m.weight AS INT)
					,'kg)'
					)
			END AS fit_profile
		,m.body_shape
		,m.height
		,m.weight
		,(
			SELECT STRING_AGG(t.tag_name, ', ')
			FROM Customer_Style_Map csm
			JOIN Style_Tags t ON csm.tag_id = t.tag_id
			WHERE csm.customer_id = c.customer_id
			) AS style_tags
		,c.return_rate
		,c.last_purchase AS last_purchase_date
		,c.STATUS
		,
		-- Trả về cho app biết để lưu anchor
		c.rfm_score AS next_anchor_rfm
		,c.customer_id AS next_anchor_id
		,@SessionID AS session_id
	INTO #PageResult
	FROM Customers c
	LEFT JOIN LatestMeasurement m ON m.customer_id = c.customer_id
	WHERE @AnchorRFM IS NULL -- Page 1 hoặc anchor chưa có
		OR (c.rfm_score < @AnchorRFM)
		OR (
			c.rfm_score = @AnchorRFM
			AND c.customer_id < @AnchorID
			)
	ORDER BY c.rfm_score DESC
		,c.customer_id DESC;

	-- ⑤ Tự động lưu anchor của page KẾ TIẾP
	-- (để lần sau nhảy vào page+1 không cần scan)
	DECLARE @NextRFM DECIMAL(10, 4);
	DECLARE @NextID INT;

	SELECT TOP 1 @NextRFM = next_anchor_rfm
		,@NextID = next_anchor_id
	FROM #PageResult
	ORDER BY next_anchor_rfm ASC
		,next_anchor_id ASC;

	IF @NextRFM IS NOT NULL
	BEGIN
		MERGE Pagination_Anchors AS target
		USING (
			SELECT @SessionID
				,@PageNumber + 1
				,@NextRFM
				,@NextID
			) AS source(session_id, page_number, anchor_rfm, anchor_id)
			ON (
					target.session_id = source.session_id
					AND target.page_number = source.page_number
					)
		WHEN NOT MATCHED
			THEN
				INSERT (
					session_id
					,page_number
					,anchor_rfm
					,anchor_id
					)
				VALUES (
					source.session_id
					,source.page_number
					,source.anchor_rfm
					,source.anchor_id
					);
	END

	-- ⑥ Trả kết quả
	SELECT *
	FROM #PageResult;

	DROP TABLE #PageResult;
END;
GO
USE [master]
GO
